
      div {
        border: 1px solid black;
        border-radius: 1rem;
        width: 20vw;
        text-align: center;
      }


      img {
        max-width: 90%;
      }


      .enventa {
        background-color: blueviolet;
      }
